<div class="container mb-3">
  <div class="row d-flex justify-content-between">
    <h1 class="m-0">Wine Experiences!!!!</h1>
    <%= link_to "New experience", new_wine_experience_path, class: "btn btn-primary" %>
  </div>
</div>

<% @wine_experiences.each do |we| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= we.title %></h2>
      <p><%= we.description %></p>
    </div>
    <%= link_to "Details", wine_experience_path(we), class: "btn btn-secondary" %>
  </div>
<% end %>
