  <div class="bg-img" style="background-image: url('https://images.unsplash.com/photo-1523741543316-beb7fc7023d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');">
    <div class="container">
    <h1 class="text-center pt-3">Agrega tu Wine Experience aquí</h1>
    <%= render 'form', wine_experience: @wine_experience %>
  </div>
  </div>
