<% if policy(WineExperience).create? %>
  <div class="container">
    <h1 class="text-center pt-3">Agrega tu Wine Experience aquí</h1>
    <%= render 'form', wine_experience: @wine_experience %>
  </div>

<% end %>
