// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 30;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.banner p {
  font-size: 20px;
  color: rgb(212, 209, 209);  
}

p {
  font-size: 20px;
  text-align: center;
}

.bg-img {
  background-size: cover;
  background-position: center;
}

.button {
  color: black;
}

.default-img{
  height: 50px;
}

.footer{
  align-items: center;
}