// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 30;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.banner p {
  font-size: 20px;
  color: rgb(212, 209, 209);  
}

p {
  font-size: 20px;
  text-align: center;
}

.bg-img {
  background-size: cover;
  background-position: center;
}

.button {
  color: black;
}

.default-img{
  height: 50px;
}

.footer{
  align-items: center;
}


h5.carrousel-title{
  font-size: 4.25rem;
  font-family: Montserrat;
  // margin-top: 13rem;
  color: #fff;
}

p.carrousel-p{
  font-size: 2.25rem;
  font-family: Montserrat;
  // padding-bottom: 10rem; 
  color: #fff;
}

.carousel-control-next{
  margin-top: 50px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 256px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.home-card{
  display: flex;
  position: relative;
  width: 510px;
  height: 490px;
  margin: 20px 10px;
  justify-content: center;
  align-items:center;
  text-align: center;
   color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
  color: white;
   font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;
}

a:hover{
  color: grey;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

}
.e{
  width: 510px;
  height: 490px;
  
}

.experience-title{
    position: absolute;
    font-size: 2.00rem;
  font-family: Montserrat;
}

.message{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
  text-align: center;
   h4{
      font-family: Montserrat;
      font-size: 1.6rem;
   }
   h5{
      font-family: Montserrat;
      font-size: 1.4rem;
      color: #167FFB;
   }
}

.btn.btn-info{
  // position: absolute;
  // bottom: 15%;
  // left: 40%;
  background-color: rgba(255, 255, 255, 0.486);
  border: none;
  font-family: Montserrat;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 5 5;
  color: white;

}
    .btn.btn-info:hover{
    background-color: #167FFB;
  
  }
  

.d-none {
    display: block!important;
}
    

@media (max-width: 800px) {
   
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 137px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
}

@media (max-width: 590px) {
   
h5.carrousel-title{
  font-size: 3.25rem;
  font-family: Montserrat;
  // margin-top: 13rem;
  color: #fff;
}
p.carrousel-p{
  font-size: 1.25rem;
  font-family: Montserrat;
  // padding-bottom: 10rem; 
  color: #fff;
}

}


// @media (max-width: 590px) {
// html {
//     width: 584px;
// }
// }