// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(46, 3, 3);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

p {
  font-size: 20px;
  background-color: rgb(253, 253, 253);
  text-align: center;
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

.bg-img {
  background-size: cover;
  background-position: center;
}

.button {
  color: black;
}
