.index-message{
  font-family: Montserrat;
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 1px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  
}

.index-card {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 800px;
  height: 266px;
  margin: 10px;
  border-radius: 5px;
  
}

.index-card > img {
  height: 224px;
  width: 40%;
  object-fit: cover;
  border-radius: 8px;
  margin: 20px 7px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.index-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Montserrat;
  
}

.index-card p {
  font-size: 14px;
  opacity: .7;
  margin-bottom: 6px;
  text-align: left;
  font-family: Montserrat;
}

.index-card-description{
  color: black;
}


.index-card .card-product-infos {
  margin-top: 10px;
  padding: 6px;
  display: flex;
   flex-direction: column;
   width: 400px;
  position: relative;
  
  
}


.card-product-infos .card-trip-user {
  position: absolute;
  right: -50px;
  top: 1px;
  width: 40px;
}

h2.card-trip-pricing{
  margin-left: 346px;
  color: grey;
    font-size: 14px;

}

.price {
   position: absolute;
  right: 8px;
  bottom: 28px;
}


.pin {
   position: absolute;
    left: -336px;
  top: -9px;
  width: 40px;
  p{
    font-size: 20px;
  }
}

.mas_info{
  margin-top: 19px;
}

  .btn.btn-info{
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-family: Montserrat;
    border-radius: 5px;
  }

   .btn.btn-info:hover{
    background-color: #167FFB;
  }


.supercontainer{

.row{
  width: 1500px;
  margin-left: -300px;
}
}

.supercontainer{
  display: flex;
 
}


.container-map{

  width: 800px;
  position: fixed; /* Set the navbar to fixed position */
  right: 144px;

}

 #map{
    border-bottom: 4px solid #aba9af;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index:0;
  }

  .map-header{
    margin-top:12px;
    font-family: Montserrat;
    background-color: rgba(153, 146, 146, 0.568);
    padding: 10px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    h4{
       font-family: Montserrat;
       font-size: 1.2rem;
    }
    h5{
      font-family: Montserrat;
      font-size: 1.1rem;
    }
  }

  @media (max-width: 1334px) {
        .my-container {
          display: none;
        }
      }

  

       @media (max-width: 1790px) {
        .my-container {
        width: 600px;
        }
      }

            @media (max-width: 1588px) {
        .my-container {
          width: 500px;
        }
      }
       
           @media (max-width: 1488px) {
    .my-container {
          width: 300px;
        }
   .supercontainer .row {
    margin-left: -250px;
}
      }

    @media (max-width: 1074px) {
   
   .supercontainer .row {
    margin-left: -2px;
}
      }

          @media (max-width: 818px) {
   
  .index-card {
   
    width: 568px;

}


    .card-product-infos .card-trip-user {
    position: absolute;
    right: 516px;
    top: 24px;
    width: 40px;

    
}

.new_experience_link {
 
    right: 147px;
   
}

  .price {
   
    right: 138px;
    bottom: 27px;
}

.footer {
   
    padding: 0px 40px;
  
    width: 590px;
}
.nav-item.dropdown{
    position: fixed;
    right: 96px;
    top: 30px;
}
.index-message{
  width: 590px;
  
}
}


  footer {
   
    padding: 0px 40px;
  
    width: 590px;
}    
       
.footer {
   
    z-index: 1;
}

@media (max-width: 800px) {
   
   .supercontainer .row {
    margin-left: -2px;
}
}