.buy-button{
  margin-left: 40px;
}


.btn-rojo {
  background-color: #56070C;
  border-color: #56070C;
  margin-left: 50%;
  margin-top: 25px;
  width: 125px;
  padding: 24px;
  margin-bottom: 15px;
  color: lavenderblush;
  font-size: 20px;
}

h6.date{
  margin-top: 14px;
}

p.description {
  border-radius: 20px 50%;
  background-color: #c9c5c5ab;
  text-align: center;
  box-shadow: none;
  color: #56070C;
}


.box {
     width: 1000px;
    margin: 10px auto;
    border: 4px solid #56070c9d;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    color: #56070ca8;
    font-family: arial;
    position: relative;
    font-size: 14px;
}

p{
  color: #56070C;
}