
.card-trip {
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 800px;
  border-radius: 5px;
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
 
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.buy-button{
  margin-left: 40px;
}


.btn-danger {
    background-color: #56070C;
    border-color: #56070C;
    margin-left: 83%;
    width: 100px;
    margin-bottom: 15px;
}

h6.date{
  margin-top: 14px;
}

p.description {
  border-radius: 20px 50%;
  background-color: #c9c5c5ab;
  text-align: center;
  box-shadow: none;
  color: #56070C;
}


.box {
     width: 1000px;
    margin: 10px auto;
    border: 4px solid #56070c9d;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    color: #56070ca8;
    font-family: arial;
    position: relative;
    font-size: 14px;
}

p{
  color: #56070C;
}