.card-trip {
  margin: auto;
  margin-top: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 1500px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  font-family: Monserrat;
}

.card-trip-img {
  height: 100%;
  width: 80%;
  object-fit: content;
  object-position: center;
}

.card-trip h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding-bottom: 45px;
  justify-content: center;
  text-shadow: black;
  font-family: Monserrat;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  // margin-top: 25px;
  padding-bottom: 40px;
  font-family: Monserrat;
}


.price {
  font-size: 17px;
  font-weight: bolder;
  // opacity: .7;
  // margin-bottom: 0px;
  text-shadow: black;
  // text-indent: wrap;
  font-family: Monserrat;
  // padding-bottom: 40px;
}

.wine-description {
  font-size: 20px;
  padding-bottom: 40px;
  margin: 10px;
  font-family: Monserrat;
}

.card-trip .card-trip-infos {
  // padding-left: 20px;
  padding-top: 5px;
  // display: flex;
  // position: absolute;
  right: 50px;
  font-family: Monserrat;
}

.card-trip-infos .card-trip-pricing {
  // position: absolute;
  right: 40px;
  width: 40px;
  font-weight: bolder;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  padding-top: 15px;
  font-family: Monserrat;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  font-family: Monserrat;
}

.card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(20, 20, 20);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
  margin-bottom: 20px;
  font-family: Monserrat;
}

.card-container {
  width: 1160px;
}