<%= @wine_experiences.each do |experience| %>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= experience.title %></h2>
      <p><%= experience.description %></p>
    </div>
  </div>

<% end %>